:root {
  --backgroundColor: rgb(195, 173, 220);
  --ddTitleColor: rgb(121, 116, 116);
  --ddItemColor: rgb(99, 97, 97);
  --ddmenuhoverColor: rgb(47, 46, 46);
  --contentBgColor: rgb(239, 239, 239);
  --navFootBgColor: #66666e;
}
@font-face {
  font-family: "Playfair Display";
  src:
    url("./fonts/PlayfairDisplay-Italic.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src:
    url("./fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("./fonts/PlayfairDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src:
    url("./fonts/Roboto-Regular.woff2") format("woff2"),
    url("./fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    url("./fonts/Roboto-Italic.woff2") format("woff2"),
    url("./fonts/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
main {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  height: 100dvh;
  text-decoration: none;
  justify-content: center;
  font-family: "Playfair Display", "Roboto";
  background-color: var(--backgroundColor);
}

p {
  position: relative;
  z-index: 2;
}

.ball {
  width: 15px;
  height: 15px;
  position: fixed;
  z-index: 2;
  border-radius: 25px;
  background-color: rgb(115, 255, 0);
  top: 0;
  left: 0;
  transition: transform 0.3s ease-out;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@keyframes dropDownBounce {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.15);
  }
  90% {
    transform: scaleY(1.1);
  }
  95% {
    transform: scaleY(1.02);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  font-family: "Roboto";
  background-color: var(--navFootBgColor);
  color: white;

  .dropdown-container {
    min-width: 250px;
    position: relative;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: rgb(241, 240, 240);
    cursor: pointer;
    .menu-title {
      background-color: inherit;
    }

    .dropdown-menu {
      min-width: 250px;
      position: absolute;
      left: 0%;
      list-style: none;
      z-index: 1;
      padding: 0;
      margin: 0;
      background-color: var(--ddItemColor);
      display: none;
    }

    ul.dropdown-menu li:hover {
      background: var(--ddmenuhoverColor);
    }

    ul {
      transform-origin: top;
      animation: dropDownBounce 0.3s ease-out forwards;
    }

    .visible {
      display: inline-block;
    }
  }
}

.about-me-container {
  max-width: 100%;
  margin: 0 auto;
  h1 {
    animation: slidein 0.5s ease-in forwards;
  }
}

@keyframes slidein {
  from {
    transform: translateY(-3rem);
  }
  50% {
    transform: translateY(1.2rem);
  }
  55% {
    transform: translateY(1.1rem);
  }
  60% {
    transform: translateY(1.15rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.about-desc {
  p {
    span {
      background: linear-gradient(
        to right,
        #ff2400,
        #e81d1d,
        #e8b21d,
        #1de840,
        #1ddde8,
        #2b1de8,
        #dd00f3,
        #dd00f3
      );
      background-size: 200% auto;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      animation: rainbow-shift 3s linear infinite;
    }
  }
}

@keyframes rainbow-shift {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 200% 50%;
  }
}

header {
  display: flex;
  padding: 2rem;

  .heroImage {
    transform: scale(1.08);
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }

  .about-me-container {
    display: flex;
    height: inherit;
    justify-content: flex-start;
    background-color: var(--contentBgColor);

    border-left: none;
    flex-direction: column;

    padding: 0 3rem;
    font-size: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    .about-desc {
      p {
        font-size: 1.1rem;
        line-height: 1.6;
        text-wrap: pretty;
        max-width: 70ch;
        font-size: 1.3rem;

        margin-bottom: 1.5rem;
        font-family: "Roboto";
      }
    }
  }
}
.projectImg {
  max-width: 30vw;
  max-height: 20vh;
  display: flex;
  max-width: 100%;
  justify-self: center;
  background-repeat: no-repeat;
  object-position: center;
  object-fit: cover;
}
.portfolio-section {
  display: flex;

  margin: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-wrap: pretty;

  h2 {
    margin-right: auto;
    font-family: "Times New Roman", Times, serif;
    font-size: 2rem;
  }
  .projectsGrid {
    color: rgb(0, 0, 0);
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    column-gap: 4rem;
    row-gap: 1.5rem;
  }

  .project {
    border: 2px solid rgb(169, 154, 125);
    box-shadow: 10px 10px 5px grey;
    display: flex;
    height: 100%;
    background-color: var(--contentBgColor);
    flex-direction: column;
    justify-self: center;
    padding: 0.1rem;
    align-self: center;
    max-width: 100%;
    transition:
      transform 0.2s ease-in,
      box-shadow 0.2s ease-in;
    position: relative;

    z-index: 0;
    img {
      border-bottom: 2px solid rgb(169, 154, 125);
      box-shadow: 2px 2px 5px grey;
    }
    .projectInfo {
      padding: 5px;
      .projectHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
          font-size: 1.5rem;
          font-family: "Playfair Display", "Roboto";
        }
      }
      .proejctDescription {
        font-size: 1.1rem;
        text-wrap: pretty;
      }
    }
  }
}

.project:hover {
  transform: scale(1.05) translateY(-3px) translateX(-0.5rem);
  box-shadow: 15px 15px 5px grey;

  border: 2px solid rgb(169, 154, 125);
  z-index: 1;
}

footer {
  margin: 0px;
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--navFootBgColor);
}
.footerInfo {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
  justify-content:;
  align-items: space-between;
  margin: 0 1rem;
  h2 {
    margin-bottom: 0px;
  }
}

.socials {
  z-index: 1;
  display: flex;
  max-width: 100%;
  padding-bottom: 1rem;
  gap: 1.2rem;
  justify-content: flex-end;
  animation: hoverIcon 0.5s ease-out reverse;
}

.projectLinks {
  display: flex;
  gap: 1rem;

  .svgIcons {
    height: 1.6rem;
    will-change: transform;
  }
}
.svgIcons:hover {
  animation: hoverIcon 0.3s ease-out both;
  pointer-events: stroke;
}

.proejctDescription {
  p {
    padding: 2px;
    line-height: 1.6;
    text-wrap: pretty;
  }
}

.svgIcons:active {
  filter: invert(84%) sepia(10%) saturate(144%) hue-rotate(219deg)
    brightness(90%) contrast(93%);
}

.footerSocial {
  display: flex;
  margin: 0 0 1rem 0;
  gap: 1rem;
}
.emailFooter {
  p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
}

/*  need to check for scroll state to see if it"s
  in
  project
  section
  */
.navshow {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}
@keyframes hoverIcon {
  from {
    transform: translateY(0rem) translateX(0rem);
  }
  to {
    transform: translateY(-0.2rem) translateX(-0.2rem);
  }
}

/* For small screens */

@media screen and (max-width: 800px) {
  header {
    flex-wrap: wrap;
    .heroImage {
      margin: 0 auto;
      max-width: 100%;
      max-height: 80vh;
    }
  }
}

@media (hover: none) {
  .ball {
    display: none;
  }
}
